- id: '1763196843501'
  alias: armarios
  description: Apagar/encender luces de los armarios según horario usando time triggers
  triggers:
  - trigger: time
    at: 08:00:00
    id: morning_on
  - trigger: time
    at: '21:00:00'
    id: night_off
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: morning_on
      sequence:
      - action: light.turn_on
        target:
          entity_id:
          - light.armario_dormitorio
          - light.armario_vestidor
        data:
          brightness: 254
    - conditions:
      - condition: trigger
        id: night_off
      sequence:
      - action: light.turn_off
        target:
          entity_id:
          - light.armario_dormitorio
          - light.armario_vestidor
- id: '1763276876363'
  alias: ambiente
  description: Cambia escenas según horario (solo si at_home está activo)
  triggers:
  - at: 07:30:00
    id: morning_on
    trigger: time
  - at: 09:00:00
    id: morning_off
    trigger: time
  - event: sunset
    id: evening_on
    trigger: sun
  - at: '21:00:00'
    id: night_off
    trigger: time
  conditions:
  - condition: state
    entity_id: input_boolean.at_home
    state: 'on'
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: morning_on
      sequence:
      - target:
          entity_id: scene.ambiente_on
        action: scene.turn_on
    - conditions:
      - condition: trigger
        id: morning_off
      sequence:
      - target:
          entity_id: scene.ambiente_off
        action: scene.turn_on
    - conditions:
      - condition: trigger
        id: evening_on
      sequence:
      - target:
          entity_id: scene.ambiente_on
        action: scene.turn_on
    - conditions:
      - condition: trigger
        id: night_off
      sequence:
      - target:
          entity_id: scene.ambiente_off
        action: scene.turn_on
- id: '1763357763980'
  alias: is_holiday
  description: Sets is_holiday to true on weekends and false on weekdays
  triggers:
  - at: 00:00:00
    trigger: time
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ now().weekday() in [5, 6] }}'
      sequence:
      - target:
          entity_id: input_boolean.is_holiday
        action: input_boolean.turn_on
    - conditions:
      - condition: template
        value_template: '{{ now().weekday() in [0, 1, 2, 3, 4] }}'
      sequence:
      - target:
          entity_id: input_boolean.is_holiday
        action: input_boolean.turn_off
  mode: single
- id: '1763817999770'
  alias: radiadores_external
  description: ''
  triggers:
  - minutes: /30
    trigger: time_pattern
  - entity_id: switch.luz_arbol
    trigger: state
  - entity_id: switch.luz_donut
    trigger: state
  - entity_id: light.luz_abuelo
    trigger: state
  - entity_id: light.luz_sofa
    trigger: state
  conditions: []
  actions:
  - action: script.radiadores_set_external
    data:
      option: external
  - choose:
    - conditions:
      - condition: state
        entity_id: input_boolean.at_home
        state: 'off'
      sequence:
      - action: script.set_radiador
        data:
          entity:
          - climate.radiador_dormitorio
          - climate.radiador_dario
          - climate.radiador_estudio
          - climate.radiador_entrada
          - climate.radiador_salon
          target: 17
    default:
    - action: script.set_radiador
      data:
        entity: climate.radiador_dormitorio
        target: '{{ 22 if 18 <= now().hour < 20 else 17 }}'
    - action: script.set_radiador
      data:
        entity: climate.radiador_dario
        target: "{% set h = now().hour %} {% if is_state('input_boolean.is_holiday','on')
          %}\n  {{ 21 if 7 <= h < 19 }}\n{% else %}\n  {{ 21 if (7 <= h < 9) or (17
          <= h < 20) }}\n{% endif %}\n"
    - action: script.set_radiador
      data:
        entity: climate.radiador_estudio
        target: '{{ 22 if not is_state(''input_boolean.is_holiday'',''on'') and 7
          <= now().hour < 16 }}'
    - action: script.set_radiador
      data:
        entity:
        - climate.radiador_entrada
        - climate.radiador_salon
        target: '{{ 22 if is_state(''switch.luz_arbol'', ''on'') or is_state(''switch.luz_donut'',
          ''on'') or is_state(''light.luz_abuelo'', ''on'') or is_state(''light.luz_sofa'',
          ''on'') or (7 <= now().hour < 22) }}'
  mode: single
