default_config: null
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
fan: !include templates/fan.yaml
google_assistant: !include templates/google_assistant.yaml
input_boolean: !include templates/input_boolean.yaml
input_number: !include templates/input_number.yaml
sensor: !include templates/sensor.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.18.0.0/16

frontend:
  themes: !include_dir_merge_named themes

logger:
  default: info
#  logs:
#    custom_components.xiaomi_miio_fan: debug
#    miio.miioprotocol: debug
